Subject: Password Reset Request - LPU BSC

Hi {{ user.full_name }},

We received a request to reset the password associated with this email address. If you made this request, please click on the link below to reset your password:

{{ protocol }}://{{ domain }}{% url 'password-reset-confirm' uidb64=uid token=token %}

This link will expire in {{ PASSWORD_RESET_TIMEOUT_DAYS }} days.

If you didn't request a password reset, you can safely ignore this email. Your account remains secure.

For security reasons:
- Never share this link with anyone
- Do not reply to this email
- If you didn't request this reset, please contact us immediately

If you have any questions, feel free to reach out to our support team.

Best regards,
LPU Bangladesh Students Community Team
{{ site_name }}
